

<nav class="navbar navbar-expand-lg row">
  <div class="col-3 container-fluid  ">
    <a class="navbar-brand" href="#">
      <img routerLink="/" src="../../../assets/img/logo.svg" alt="">
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="col-9 collapse navbar-collapse container-navbar" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li>
        <a href="">{{ "MENU.HOME" | translate }}</a>
      </li>
      <li>
        <a href="">{{ "MENU.SERVICE" | translate }}</a>
      </li>
      <li>
        <a routerLink="./portafolio">{{ "MENU.WALLET" | translate }}</a>
      </li>
      <li>
        <a href="">{{ "MENU.CONTACT" | translate }}</a>
      </li>
      <li>
        <div class="btn-group">
          <button 
            class="btn button-dropdawn btn-lg dropdown-toggle" 
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <a class="icon-link" href="#">
              <img [src]="getIconPath(translateService.currentLang)" alt="" />
            </a>
            <h5>
                {{ translateService.currentLang }} 
            </h5> 
          </button>

          <ul class="dropdown-menu ">
            <li
              *ngFor="let language of translateService.getLangs()"
              class="menu-discesa"
              (click)="switchLang(language)"
              [class.selected]="language === translateService.currentLang"
            >
              {{ language }} 
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
