.navbar{
    padding:10px  100px;
}
.navbar-nav{
    gap: 10px;
    a{
        text-decoration: none;
        color: black;
    }
}




.prova{
    width: 90px;
    height: 34px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.dropdown-menu{
    width: 50px;
}