
<div class="container-home">
    <div class="row">
        <div class=" col-7 container-left">
            <div class="title">
                <span>{{ 'HOMEPAGE.SOLUTIONS' | translate }}</span>
                <span>{{ 'HOMEPAGE.DIGITAL' | translate }}</span>
                <span>{{ 'HOMEPAGE.CUSTOMIZED' | translate }}</span>
            </div>
            <div class="description">
                <p>"{{ 'HOMEPAGE.DESCRIPTION' | translate }}”</p>
            </div>
        </div>
        <div class=" col-5 container-right ">
            <div class="container-image">
                <img src="../../../assets/img/fotohome.png" alt="">
                <span><img src="../../../assets/img/arrow.svg" alt=""></span>
            </div>
        </div>
    </div>
</div>
<app-servicios></app-servicios>