
<div class="container-servicio">
    <div class="container-cards">
        <div class="title">
            Garantizamos
        </div>
        <div class=" container-card ">
            <div class="container-flex">
                <div class="card" >
                    <h2>Sitios web responsivos</h2>
                    <p>sistemas que se adaptan automáticamente a diversos dispositivos, garantizando una experiencia de usuario óptima en computadoras, tabletas y móviles</p>
                    <div class="img-garantizamos">
                    </div>
                </div>
                <div class="card" >
                    <h2>Documentación de calidad</h2>
                    <div class="img-documentation">
                    </div>
                    <p>Esencial  para facilitar mantenimiento, soporte, transferencia de conocimiento, y cumplir regulaciones, garantizando satisfacción y preparación para mejoras futuras.</p>
                </div>
                <div class="card" >
                    <h2>Usabilidad prioritaria</h2>
                    <p>un sistema a medida debe ser intuitivo, reducir costos de capacitación y soporte, garantizando eficiencia, adoptabilidad y flexibilidad empresarial.</p>
                    <div class="img-usabilidad ">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>